body {
  font-family: 'VT323', monospace;
  background-color: #F9D4BB;
  color: #664E4C;
  text-shadow: 2px 2px #E2D58B;
}

a {
  color: #C1D37F;
  text-shadow: 2px 2px #F0E2A3;
  text-decoration: underline;
}

a:hover {
  color: #B5CB67;
  text-shadow: 2px 2px #7765E3;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2em;
  color: #FDF3EC;
  text-shadow: 2px 2px #3B60E4;
}

.content {
  margin-top:  auto;
}

.image {
  height: 30vh;
  opacity: 85%;
}

hr {
  border-top: 2px dashed #3B60E4;
  border-bottom: 2px dashed #FDF3EC;
  width: 80%;
}

.resources p {
  font-size: 1.5em;
  color:  #664E4C;
  text-shadow: none;
}

.resources p a:hover {
  text-shadow: 1px 1px #7765E3;
}
