body {
  font-family: 'VT323', monospace;
  background-color: #F9D4BB;
  color: #664E4C;
}

a {
  color: #C1D37F;
  text-shadow: 2px 2px #F0E2A3;
}

a:hover {
  text-decoration: none;
  color: #B5CB67;
}
